{% extends 'base.html' %}
{% block title %} Donate-ChildFund {% endblock %}

{% block body %}

<style>
    #right-donate-image {
        width: 40vw;
        height: 80vh;
        object-fit: contain;
    }
</style>
<div>
   <img src="https://rightsjessore.org/wp-content/uploads/2017/12/donations-1.jpg" alt="childfund-1" height="100px" width="100%">
</div>
<div class="container row">
    <div class="alert alert-primary container my-5 col-md-6 col-sm-12" role="alert">
        <div class="cols-1">
            {% from "includes/_formhelper.html" import render_field %}
            <form action="" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ render_field(form.name,class_="form-control")}}
              </div>
              <div class="form-group">
                {{ render_field(form.email,class_="form-control")}}
              </div>
              <div class="form-group">
                {{ render_field(form.phone,class_="form-control")}}
              </div>
              <div class="form-group">
                {{ render_field(form.address,class_="form-control")}}
              </div>
              <div class="form-group">
                {{ render_field(form.amount,class_="form-control")}}
              </div>
              <div class="form-group">
                {{ render_field(form.submit,class_="form-control btn btn-primary")}}
              </div>
            </form>
          </div>
    </div>
    <div class="container my-5  col-md-4 col-sm-12">
        <img id="right-donate-image" src="https://cdn3.f-cdn.com/contestentries/1480434/33009019/5c89fedd52230_thumb900.jpg"
            alt="Donate Now Image">
    </div>
    </div>
    

    {% endblock %}