{% extends 'base.html' %}

{% block title %}
    Home-ChildFund
{% endblock title %}

{% block body %}
<div id="carouselExampleIndicators" class="mb-5 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.smilefoundationindia.org/mission-education/images/slideshow/me-campaign-page-1.jpg" class="d-block w-100" alt="Child-Fund-1">
      </div>
      <div class="carousel-item">
        <img src="https://www.smilefoundationindia.org/mission-education/images/slideshow/me-campaign-page-2.jpg" class="d-block w-100" alt="Child-Fund-2">
      </div>
      <div class="carousel-item">
        <img src="https://www.smilefoundationindia.org/mission-education/images/slideshow/me-campaign-page-3.jpg" class="d-block w-100" alt="Child-Fund-3">
      </div>
      <div class="carousel-item">
        <img src="https://www.smilefoundationindia.org/mission-education/images/slideshow/me-campaign-page-4.jpg" class="d-block w-100" alt="Child-Fund-4">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock body %}