{% extends 'base.html' %}
{% block title %}
    Login|ChildFund
{% endblock title %}

{% block body %}
    <div class="container col-md-6 my-5">
        {% from "includes/_formhelper.html" import render_field %}
        <p class="h2">Login Form</p>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ render_field(form.username,class_="form-control",placeholder="Your Username Here")}}
            </div>
            <div class="form-group">
                {{ render_field(form.password,class_="form-control",placeholder="Your Password Here")}}
              </div>
              <div class="form-group">
                {{form.submit(class_="form-control btn btn-primary")}}
              </div>
        </form>
        <hr>
        
    </div>
{% endblock body %}