{% extends 'base.html' %}
{% block title %}
    Registration|ChildFund
{% endblock title %}

{% block body %}
    <div class="container col-md-6 my-5">
        {% from "includes/_formhelper.html" import render_field %}
        <p class="h2">Registration Form</p>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ render_field(form.name,class_="form-control",placeholder="Enter Your Name")}}
              </div>
              <div class="form-group">
                {{ render_field(form.email,class_="form-control",placeholder="Enter Your Email")}}
              </div>
              <div class="form-group">
                {{ render_field(form.username,class_="form-control",placeholder="Enter Your Username[Unique]")}}
              </div>
            <div class="form-group">
                {{ render_field(form.password,class_="form-control",placeholder="Password")}}
              </div>
              <div class="form-group">
                {{ render_field(form.confirm_password,class_="form-control",placeholder="Confirm Password")}}
              </div>
              <div class="form-group">
                {{form.submit(class_="form-control btn btn-primary")}}
              </div>
        </form>
        <hr>
        
    </div>
{% endblock body %}